<h1>Users Show</h1>
<h1> <%= warning %> </h1>
<%=@user.name%> </br>
<%=@user.password_digest %> </br>
<%=@user.email %> </br>

<% @user.reviews.each do |review| %>
    <%= "#{review.game.title}:" %> 
    <%= link_to review.title, user_review_path(@user, review)%>
    <%=" (#{review.rating}/100)" %></br>
<%end%>

<%= link_to 'Games Index', games_path %>
<%= link_to 'Review Index', reviews_path %>