<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
<%= form_for @games do |f| %>
  <%= f.label :title %> <%=@errortitle%>
  <br>
  <%= f.text_field :title%><br>

  <%= f.label :genre %> <%=@errorgenre%>
  <br>
  <%= f.text_field :genre%><br>

  <%= f.label :developer %> <%=@errordeveloper%>
   <br>
   <%= f.text_field :developer%><br>

   <%= f.label :age, "Age Rating" %> <%=@errorage%>
   <br>
   <%= f.text_field :age%><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Game" %>
<% end %>