<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>

  <%=@errors%>

<%= form_for @games do |f| %>
  <%= f.label :title %> 
  <br>
  <%= f.text_field :title%><br>

  <%= f.label :genre %> 
  <br>
  <%= f.text_field :genre%><br>

  <%= f.label :developer %> 
   <br>
   <%= f.text_field :developer%><br>

   <%= f.label :age, "Age Rating" %> 
   <br>
   <%= f.text_field :age%><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Game" %>
<% end %>