<h3 align=right><%= link_to 'Games', games_path %> &emsp;
<%= link_to 'Reviews', reviews_path %> &emsp;
<%= link_to current_user.name, user_path(current_user)%>
<%= button_to "Log Out", logout_path, method: :post%><h3>
<hr>
<h1> <%= info %> </h1>



<p align=center> Click here to look at the <%= link_to 'Review', reviews_path %> </br> 
 <%=admin_perms_new_game%>  </p>

 <hr>
</br>
<% @games.each do |game| %>

<%= link_to "#{game.title}", game_path(game)%> </br>
<% end %>
