<h3 align=right><%= link_to "#{session[:name]}'s Reviews", user_path(session[:user_id])%>
<%= button_to "Log Out", logout_path, method: :post%><h3>
<hr>
<h1> <%= warning %> </h1>



<p align=center> Click here to look at the <%= link_to 'Review', reviews_path %> </br> </p>


 <hr>
 <%=admin_perms_new_game%> </br>
<% @games.each do |game| %>
<%= game.title %> 

<%= link_to "#{game.title}'s show page", game_path(game)%> </br>
<% end %>
