<h1>Games Index</h1>

<%= link_to 'Games New', new_game_path %></br>
<%= link_to 'User New', new_user_path %></br>
<%= link_to 'Review Index', reviews_path %> </br>

 <hr>
<% @games.each do |game| %>
<%= game.title %> 
<%= link_to "#{game.title}'s show page", game_path(game)%> </br>
<% end %>
