<h1>Games Index</h1>
<h1> <%= warning %> </h1>
<p><%= link_to "The current user is #{@cu.name}", user_path(@cu)%></p>
<h1>Hi, <%= session[:name] %>.</h1>
<%= button_to "Log Out", logout_path, method: :post%> 
<%= link_to 'User New', new_user_path %></br>
<%= link_to 'Review Index', reviews_path %> </br>
<%=admin_perms_new_game%>

 <hr>
<% @games.each do |game| %>
<%= game.title %> 

<%= link_to "#{game.title}'s show page", game_path(game)%> </br>
<% end %>
