<h1>Games Show</h1>
<%=@game.title %> </br>
<%=@game.genre %> </br>
<%=@game.developer %> </br>
<%=@game.age %> </br>

<%= link_to 'Games Index', games_path %>
<%= link_to 'Games Edit', [:edit, @game] %>