<h3 align=right><%= link_to 'Games', games_path %> &emsp;
<%= link_to 'Reviews', reviews_path %> &emsp;
<%= link_to current_user.name, user_path(current_user)%>
<%= button_to "Log Out", logout_path, method: :post%><h3>
<hr>

<h1 align=center> <bold> <%=@games.title %> </h1> </bold>
<h1 align=center> <%= info %> </h1>
<p align=center> This is a <%=@games.genre %> </p>
<p align=center> Developed by <%=@games.developer %> </p>
<p align=center> It is rated <%=@games.age %> </p>

<p align=center> Write a new review <%= link_to 'Here!', new_game_review_url(@games.id) %> </br>
<%=admin_perms_edit_game%> 

<% @games.reviews.each do |review| %>
 <p  align=center>   <%= link_to review.title, game_review_path(@games, review)%>
    <%=" (#{review.rating}/100) written by #{review.user.name}" %> </br>
<%end%>



