<h1>Games Show</h1>
<h1> <%= warning %> </h1>
<%=@games.title %> </br>
<%=@games.genre %> </br>
<%=@games.developer %> </br>
<%=@games.age %> </br>

<% @games.reviews.each do |review| %>
    <%= link_to review.title, game_review_path(@games, review)%>
    <%=" (#{review.rating}/100) written by #{review.user.name}" %> </br>
<%end%>

<%= link_to 'Review New', new_game_review_url(@games.id) %>
<%= link_to 'Games Index', games_path %>
<%= link_to 'Games Edit', [:edit, @games] %>