<h1 align=center> <bold> <%=@games.title %> </h1> </bold>
<h1 align=center> <%= info %> </h1>
<p align=center> This is a <%=@games.genre %> </p>
<p align=center> Developed by <%=@games.developer %> </p>
<p align=center> It is rated <%=@games.age %> </p>
<p align=center> The game was released in <%=@games.year_released %> </p>

<p align=center> Write a new review <%= link_to 'Here!', new_game_review_url(@games.id) %> </br>
<%=admin_perms_edit_game%> 

<% @games.reviews.each do |review| %>
 <p  align=center>   <%= link_to review.title, game_review_path(@games, review)%>
    <%=" (#{review.rating}/100) written by " %>
    <%=link_to "#{review.user.name}", user_path(review.user_id)%> </br>
<%end%>



