<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
  <% end %>
<%= form_for @review do |f| %>
  <%= f.label :title %> <%=@errortitle%>
  <br>
  <%= f.text_field :title%><br>

  <%= f.label :body %> <%=@errorbody%>
  <br>
  <%= f.text_field :body%><br>

  <%= f.label :rating %> <%=@errorrating%>
   <br>
   <%= f.number_field :rating%><br>


     <%if params[:game_id] != nil%>
    <%= hidden_field_tag "review[game_id]", params[:game_id]%>
    <%elsif @review.game_id != nil%>
    <%= hidden_field_tag "review[game_id]", @review.game_id%>
    <%else%>
    <%= f.fields_for :game, @review.build_game do |g|%>
    <%= g.hidden_field :id%><br>
    <%= g.label :title %>
    <%= g.text_field :title%><br>
    <%= g.label :genre %>
    <%= g.text_field :genre%><br>
    <%= g.label :developer %>
    <%= g.text_field :developer%><br>
    <%= g.label :age, "Age Rating" %>
   <%= g.text_field :age%><br>
  <%end%>
<%end%>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <%= submit_tag "Submit Review" %>
<% end %>



