

<h1 align="center"> <%= info %> </h1>

<p align="center">  If you want to make a new review <%= link_to 'Click Here!', new_review_path %></p>

<p align="center"> Here the the 10 most recent reviews! </p>

<p align="center"><% @reviews.each do |review| %>
 <%= "#{review.game.title}:" %> 
<b><%= link_to "#{review.title} (#{review.rating}/100)", review_path(review)%> </b>
Rated by <%=link_to "#{review.user.name}", user_path(review.user_id)%> </br>
<%end%> </p>


