<h1>Reviews Index</h1>
<p><%= link_to "The current user is #{@cu.name}", user_path(@cu)%></p>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
  <% end %> </p>

  <p> Here the the 5 most recent reviews! </p>

<% @reviews.each do |review| %>
<%= "#{review.game.title}:" %> 
<b><%= link_to "#{review.title} (#{review.rating}/100)", review_path(review)%> </b>
<%= "Rated by #{review.user.name}" %> </br>
<%end%>

<%= link_to 'Review New', new_review_path %></br>
<%= link_to 'Games Index', games_path %>
