<h3 align=right><%= link_to 'Games', games_path %> &emsp;
<%= link_to 'Reviews', reviews_path %> &emsp;
<%= link_to session[:name], user_path(session[:user_id])%>
<%= button_to "Log Out", logout_path, method: :post%> </h3>
<hr>

<center>

<h1> <%= warning %> </h1>

<p> If you want to make a new review <%= link_to 'Click Here!', new_review_path %></p>

  <p> Here the the 5 most recent reviews! </p>

<% @reviews.each do |review| %>
<%= "#{review.game.title}:" %> 
<b><%= link_to "#{review.title} (#{review.rating}/100)", review_path(review)%> </b>
<%= "Rated by #{review.user.name}" %> </br>
<%end%>


