<h1>Reviews Index</h1>
<p><%= link_to "The current user is #{@cu.name}", user_path(@cu)%></p>

<% @reviews.each do |review| %>
<%= review.title %> 
<%= link_to "#{review.title}'s show page", review_path(review)%> </br>
<%end%>

<%= link_to 'Review New', new_review_path %></br>
<%= link_to 'Games Index', games_path %>
