<h3 align=right><%= link_to 'Games', games_path %> &emsp;
<%= link_to 'Reviews', reviews_path %> &emsp;
<%= link_to session[:name], user_path(session[:user_id])%>
<%= button_to "Log Out", logout_path, method: :post%><h3>
<hr>

<h1> <%= warning %> </h1>

<p align=center> <%=@review.user.name %>'s review for <%=@review.game.title %> </p>
<h1 align=center> <%=@review.title %> </h1>
<%=@review.body %> </br>
<p> <i> <%=@review.rating %> out of 100 </i> </p>


<%= review_edit_owner? %>
<%= review_delete_owner? %>