<h1> <%= info %> </h1>

<p align=center> <%=@review.user.name %>'s review for <%=@review.game.title %> </p>
<h1 align=center> <%=@review.title %> </h1>
<%=@review.body %> </br>
<p> <i> <%=@review.rating %> out of 100 </i> </p>


<%= review_edit_owner? %>
<%= review_delete_owner? %>